@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}
    
<div class="container-fluid">
    <div class="row main-header">
        <h2>
            @ViewData["Title"]
        </h2>
    </div>
    
    <div class="body-content">
        <p>
            Welcome to project management system
            <label class="label-success badge">
                @if (User.Identity.IsAuthenticated)
                {

                    @User.Identity.Name;
                }.
            </label>
        </p>
    </div>
</div>


