/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.main-header {
    border-bottom: 1px solid #aaa;  
    margin-bottom: 20px;
}


.row {
    display: flex
}

.col {
    margin: 5px 25px 5px 25px;
}

.col-sm {
    width: 100px;
}

.col-md {
    width: 140px
}

.col-lg {
    width: 200px
}

.col-lg-2 {
    width: 250px
}

.border-bottom {
    border-bottom: 1px solid #a9a9a9;
}

.btn {
    background: slategray;
    color: #fff;
    margin: 10px;
}

.btn-default {
    background: slategray;
    color: #fff;
}

.container .data-list {
    max-height: 400px;
    overflow: auto;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.btn-info {
    border: inherit;
}

.btn-success {
    border: inherit;
}

.btn-info:hover {
    background-color: inherit;
    border-color: inherit;
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-success:hover {
    background-color: inherit;
    border-color: inherit;
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.col .btn {
    margin: 0px;
}

.tasklist .col-sm-4 {
    padding: 0px;
}
